<!doctype html>
<html lang="en" ng-app="resource">
  <head>
    <meta charset="utf-8">
    <title>Resource</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/png"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
  </head>
  <body>
      <section class="container">
      </section>
      <div ng-include="'views/navbar_guest.html'"></div>
      <div ng-controller='homeCtrl'>
          <div ng-repeat='alert in alerts'>
              <div eie-alert ng-model='alert'>{{alert.message}}</div>
          </div>
      </div>
      <div ng-view>
          <div class='container loading'>
              <p>make sure javascript is enabled please</p>
              <img src='img/loading.gif'/>
          </div>
      </div>
  </body>
</html>
