<!doctype html>
<html lang="en" ng-app="resource">
  <head>
    <meta charset="utf-8">
    <title>Resource</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/png"/>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
  </head>
  <body>
      <section class="container">
          <div ng-controller="homeCtrl"
              class="pull-right">
              <a ng-show="isLoggedIn()"
                  href="#/profile">
                  <span class="glyphicon glyphicon-user"></span>
                  {{ session().username }}
              </a>
              <a ng-show="isLoggedIn()"
                  ng-click="sign_out()">
                  (sign out)
              </a>
              <a ng-hide="isLoggedIn() || currentRoute() == 'home'"
                  href="#/home">
                  <span class="glyphicon glyphicon-user"></span>
                  sign in
              </a>
          </div>
      </section>
      <div ng-include="'views/navbar_guest.html'"></div>
      <div ng-controller='homeCtrl'>
          <div ng-repeat='alert in alerts'>
              <div eie-alert ng-model='alert'>{{alert.message}}</div>
          </div>
      </div>
      <div ng-view>
          <div class='container loading'>
              <p>make sure javascript is enabled please</p>
              <img src='img/loading.gif'/>
          </div>
      </div>
      <footer class="col-md-12">
          <span id="copyright">
              <p>&#169; 2014, University Of The Witwatersrand, Johannesburg</p>
          </span>
          <div id="credit">
              created by <a href="http://mandla.me"> Mandla Mbuli</a>
          </div>
      </footer>
    <!-- lib -->
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="lib/angular/angular-resource.js"></script>
    <script type="text/javascript" src="lib/angular/angular-cookies.js"></script>
    <script type="text/javascript" src="lib/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="lib/angular-ui/ui-bootstrap-tpls-0.10.0.js"></script>
    <script type="text/javascript" src="lib/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="lib/underscore-min.js"></script>
    <script type="text/javascript" src="lib/bootstrap/js/bootstrap.min.js"></script>
    <!-- app -->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- controllers -->
    <script type="text/javascript" src="js/controllers/home.js"></script>
    <script type="text/javascript" src="js/controllers/profile.js"></script>
    <script type="text/javascript" src="js/controllers/admin.js"></script>
    <script type="text/javascript" src="js/controllers/users.js"></script>
    <script type="text/javascript" src="js/controllers/groups.js"></script>
    <script type="text/javascript" src="js/controllers/about.js"></script>
    <script type="text/javascript" src="js/controllers/gallery.js"></script>
    <script type="text/javascript" src="js/controllers/bookings.js"></script>
    <!-- services -->
    <script type="text/javascript" src="js/services/session.js"></script>
    <script type="text/javascript" src="js/services/users.js"></script>
    <script type="text/javascript" src="js/services/groups.js"></script>
    <script type="text/javascript" src="js/services/alerts.js"></script>
    <script type="text/javascript" src="js/services/images.js"></script>
    <!-- directives -->
    <script type="text/javascript" src="js/directives/alert.js"></script>
    <!-- filters -->
  </body>
</html>
