include runserver.py 
include backend/resource.cfg
recursive-include backend/frontend *
recursive-include backend/scripts *
recursive-include backend/rest *
recursive-include backend/admin *
recursive-include eieldap *
recursive-include docs *
recursive-include config *
