include runserver.py 
include resource/resource.cfg
recursive-include resource/templates *
recursive-include resource/static *
recursive-include resource/scripts *
recursive-include doc *
recursive-include config *
