body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}
.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  flex: 1 100%;
}

.header {
  background: blue;
  color: white;
  padding: 10px;
}

.brand img {
  width: 450px;
}

.footer {
  background: lightgreen;
  padding: 10px;
}

.main {
  text-align: left;
  background: deepskyblue;
}

.main > * {
  padding: 10px;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
    .sidebar { order: 1; max-width: 250px;}
    .main    { order: 2; flex: 4 0px;}
    .footer  { order: 4; }
}

.navigation {
    list-style: none;
    margin: 0; 

    background: deepskyblue;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    flex-flow: column wrap;
    justify-content: flex-end;
}

.navigation a {
    width: 200px;
    text-decoration: none;
    display: block;
    padding: 2em;
    color: white;
    text-align: right;
}

.navigation a:hover {
    background: darken(deepskyblue, 2%);
}

@media all and (max-width: 800px) {
    .navigation {
        justify-content: space-around;
    }
}

@media all and (max-width: 600px) {
    .navigation {
        -webkit-flex-flow: column wrap;
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a { 
        text-align: center; 
        padding: 10px;
        border-top: 1px solid rgba(255,255,255,0.3); 
        border-bottom: 1px solid rgba(0,0,0,0.1); 
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}
