<div class='container'>
    <h2 class="page-header">
        <span class="pull-right">
            <span class="glyphicon glyphicon-info-sign"></span>
            About
        </span>
        <span class="clearfix"></span>
    </h2>
    <section class="jumbotron jumbotron-about">
        <h2> Resource Web App </h2>
        <p>
            This is the Resource webapp. It aims to be a one stop place to
            get information about the Dlab and to get resources provided by
            the network group.
        </p>
    </section>
    <section>
        <!-- About -->
        <section>
            <h2>Hotseaters</h2>
        </section>
        <accordion close-others="true">
        <accordion-group>
        <accordion-heading>
        Previous Hotseaters
        </accordion-heading>
        </accordion-group>
        </accordion>
    </section>

    <section>
        <!-- F.A.Q -->
        <h2>F.A.Q</h2>
        <p>
            Next I give a few Frequently asked questions. If there is more that
        </p>
        <section class="col-md-6">
            <accordion close-others="true">
            <accordion-group>
            <accordion-heading>
            Who has access to the D Lab?
            </accordion-heading>
            </accordion-group>
            <accordion-group>
            <accordion-heading>
            How do I set the proxy?
            </accordion-heading>
            <div>
                <h2>Ubuntu</h2>
                <p>Search for 'Proxy' on the start menu and take it from there</p>
                <h2>Windows</h2>
                <p>Search for 'Proxy' on the start menu and take it from there</p>
            </div>
            </accordion-group>
            <accordion-group>
            <accordion-heading>
            Is there a space between the D and L?
            </accordion-heading>
            <p> Not sure </p>
            </accordion-group>
            <accordion-group>
            <accordion-heading>
            More fourth year pictures!
            </accordion-heading>
            Thats a request, more pictures will be added soon as I can find
            them and sort out the backend for serving them
            </accordion-group>
            <accordion-group>
            <accordion-heading>
            Why is the Printing credit so low?
            </accordion-heading>
            If enough people motivate why we should increase the limit, we
            will increase the limit.
            </accordion-group>
            </accordion>
        </section>
        <section class="col-md-6">
            <accordion close-others="true">
            <accordion-group>
            <accordion-heading>
            How to login
            </accordion-heading>
            </accordion-group>
            <accordion-group>
            <accordion-heading>
            Printing
            </accordion-heading>
            </accordion-group>
            <accordion-group>
            <accordion-heading>
            Lockers
            </accordion-heading>
            </accordion-group>
            <accordion-group>
            <accordion-heading>
            Booking the DLab
            </accordion-heading>
            </accordion-group>
            <accordion-group>
            <accordion-heading>
            Does the DLab close?
            </accordion-heading>
            </accordion-group>
            </accordion>
        </section>
    </section>
</div>
