<div class='container'>
  <div class="navbar navbar-admin" role="navigation">
    <div class="navbar-header">
    </div>
    <div id="menu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="navClass('users')">
          <a href="#/users">
            <span class="glyphicon glyphicon-user"></span>
            users
          </a>
        </li>
        <li ng-class="navClass('groups')">
          <a href="#/groups">
            <span class="glyphicon glyphicon-th-large"></span>
            groups
          </a>
        </li>
        <li ng-class="navClass('docs')">
          <a href="/admin/docs">
            <span class="glyphicon glyphicon-book"></span>
            docs
          </a>
        </li>
        <li ng-class="navClass('papercut')">
          <a href="http://babbage.ug.eie.wits.ac.za:9191">
            <span class="glyphicon glyphicon-print"></span>
            papercut
          </a>
        </li>
      </ul>
    </div>
  </div>
  <section>
    <a class="btn btn-warning" href="#/users">users</a>
    <a class="btn btn-warning" href="/admin/docs">docs</a>
    <a class="btn btn-warning" href="http://babbage.ug.eie.wits.ac.za:9191">PaperCut</a>
    <a class="btn btn-warning" href="http://dept.ee.wits.ac.za/mailman/admindb/firstyr">first year list</a>
    <a class="btn btn-warning" href="http://dept.ee.wits.ac.za/mailman/admindb/secondyr">second year list</a>
    <a class="btn btn-warning" href="http://dept.ee.wits.ac.za/mailman/admindb/thirdyr">third year list</a>
    <a class="btn btn-warning" href="http://dept.ee.wits.ac.za/mailman/admindb/fourthyr">fourth year list</a>
    <a class="btn btn-warning" href="http://146.141.119.15">printer 1</a>
    <a class="btn btn-warning" href="http://146.141.119.256">printer 2</a>
  </section>
</div>
