<section class="dashboard">
    <a class="btn btn-primary dashboard-item" href="#/users">users</a>
    <a class="btn btn-primary dashboard-item" href="#/groups">groups</a>
    <a class="btn btn-primary dashboard-item" href="#/computers">computers</a>
    <a class="btn btn-primary dashboard-item" href="/admin/docs">docs</a>
    <a class="btn btn-primary dashboard-item" href="http://babbage.ug.eie.wits.ac.za:9191">PaperCut</a>
    <a class="btn btn-primary dashboard-item" href="http://dept.ee.wits.ac.za/mailman/admindb/firstyr">firstyr list</a>
    <a class="btn btn-primary dashboard-item" href="http://dept.ee.wits.ac.za/mailman/admindb/secondyr">secondyr list</a>
    <a class="btn btn-primary dashboard-item" href="http://dept.ee.wits.ac.za/mailman/admindb/thirdyr">thirdyr list</a>
    <a class="btn btn-primary dashboard-item" href="http://dept.ee.wits.ac.za/mailman/admindb/fourthyr">fourthyr list</a>
    <a class="btn btn-primary dashboard-item" href="http://146.141.119.15">printer 1</a>
    <a class="btn btn-primary dashboard-item" href="http://146.141.119.256">printer 2</a>
</section>
