<div class='container'>
  <div class="navbar navbar-admin" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="#home">
            Resource Admin
            <span class='label label-warning' app-version></span>
      </a>
    </div>
    <div id="menu" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="navClass('home')" >
          <a href="#/home">
            <span class="glyphicon glyphicon-home"></span>
            home
          </a>
        </li>
        <li ng-class="navClass('users')">
          <a href="#/users">
            <span class="glyphicon glyphicon-user"></span>
            users
          </a>
        </li>
        <li ng-class="navClass('groups')">
          <a href="#/groups">
            <span class="glyphicon glyphicon-th-large"></span>
            groups
          </a>
        </li>
        <li ng-class="navClass('docs')">
          <a href="/admin/docs">
            <span class="glyphicon glyphicon-book"></span>
            docs
          </a>
        </li>
        <li ng-class="navClass('papercut')">
          <a href="http://babbage.ug.eie.wits.ac.za:9191">
            <span class="glyphicon glyphicon-print"></span>
            papercut
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
