<div class='container'>
    <h2 class="page-header">
        <span class="pull-right">
            <span class="glyphicon glyphicon-calendar"></span>
            Dlab Bookings
        </span>
        <span class="clearfix"></span>
    </h2>
    <div class='col-md-12'>
        <div class='col-md-4'>
            <div ng-repeat='computer in section3'>
                <span class='col-md-5 pull-right' eie-computer ng-model='computer'></span>
            </div>
        </div>
        <div class='col-md-4'>
            <div ng-repeat='computer in section2'>
                <span class='col-md-3 pull-right' eie-computer ng-model='computer'></span>
            </div>
        </div>
        <div class='col-md-3'>
            <div ng-repeat='computer in section1'>
                <span class='col-md-4 pull-right' eie-computer ng-model='computer'></span>
            </div>
        </div>
    </div>
    <hr class='col-md-12'/>
    <div class="col-md-8">
        <h2> Booking Procedure </h2>
        <ol>
            <li>
                Download the current bookings and dlab usage policy below
            </li>
            <li>
                Read through both documents
            </li>
            <li>
                email
                <a href="mailto:supervisor@eie.wits.ac.za?Subject=Dlab%20booking">
                    supervisor@eie.wits.ac.za
                </a>
                with the details of the booking
                Bookings will be confirmed by email.
            </li>
            <li>
                Confirm with the student lab administrators that:
                <ol>
                    <li>
                        you will have the full complement of systems which you book
                    </li>
                    <li>
                        the number of systems you will need
                    </li>
                    <li>
                        your required software is installed
                    </li>
                </ol>
            </li>
            <li>
                an assistant administrator will be on standby for the booking.
            </li>
            <li>
                Inform the PG demis that the wheelchair access door must be closed unless
                a demi is posted at the door &ndash; sounds unreasonable, but there are valid
                reasons for insisting that the door be either closed or access be controlled by a
                demi. Soneone may close the door if you leave the door open!
            </li>
        </ol>
        <div>
            <a href="http://resource.eie.wits.ac.za/repository/NetworkAdmin/DLabBooking-SimpleFormat-2013-s2.pdf"
                class="btn btn-primary">
                Download
            </a>
            PDF list of bookings
        </div>
        <br/>
        <div>
            <a href="http://resource.eie.wits.ac.za/repository/NetworkAdmin/computer-lab-usage-policy.pdf"
                class="btn btn-primary">
                Download
            </a>
            Dlab usage policy
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                New booking
            </div>
            <div class="panel-body">
                <div style="color: red">
                    Note, this form does not work yet
                </div>
                <form role="form">
                    <div class="form-group">
                        <input type="text"
                        placeholder="Contact person"
                        name="name_input"
                        class="form-control">
                        <span class="help-inline"></span>
                    </div>
                    <div class="form-group">
                        <input type="text"
                        placeholder="Dates"
                        name="dates_input"
                        class="form-control">
                        <span class="help-inline"></span>
                    </div>
                    <div class="form-group">
                        <input type="text"
                        placeholder="Number of PCs"
                        name="systems_input"
                        class="form-control">
                        <span class="help-inline"></span>
                    </div>
                    <div class="form-group">
                        <input type="text"
                        placeholder="Software"
                        name="software_input"
                        class="form-control">
                        <span class="help-inline"></span>
                    </div>
                    <div class="form-group">
                        <input type="text"
                        placeholder="Demis on the day"
                        name="demis_input"
                        class="form-control">
                        <span class="help-inline"></span>
                    </div>
                    <div class="form-group">
                        <textarea placeholder="Comments"
                            class="form-control"
                            ></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">
                        Book
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
