<section class="jumbotron jumbotron-eie">
    <h2> DLAB </h2> 
    <small> 
        Computer lab for Third and Fourth year Electrical Engineering
        Students. Best computer lab at Wits
        </br> Welcome!
    </small>
</section>

<div class='legend pull-right'>
    Legend:
    <span class="label computer-available">available</span>
    <span class="label computer-absent">absent</span>
    <span class="label computer-faulty">faulty</span>
    <span class="label computer">unknown</span>
</div>
<div class='clearfix'></div>
<div class='col-md-12' ng-controller='labLayoutCtrl'>
    <div class='col-md-4 computers'>
        <h4>SECTION 3</h4>
        <div ng-repeat='computer in section3'>
            <span class='col-md-5 pull-right' eie-computer ng-model='computer'></span>
        </div>
    </div>
    <div class='col-md-4 computers'>
        <h4>SECTION 2</h4>
        <div ng-repeat='computer in section2'>
            <span class='col-md-3 pull-right' eie-computer ng-model='computer'></span>
        </div>
    </div>
    <div class='col-md-3 computers'>
        <h4>SECTION 1</h4>
        <div ng-repeat='computer in section1'>
            <span class='col-md-4 pull-right' eie-computer ng-model='computer'></span>
        </div>
    </div>
    <div class='col-md-4 computers'>
        <h4>EXTENSION</h4>
        <div ng-repeat='computer in section4'>
            <span class='col-md-5 pull-right' eie-computer ng-model='computer'></span>
        </div>
    </div>
</div>
<div class='clearfix'></div>
<p class='note text-center'>
    NOTE: you can hover over either a faulty or an absent PC to see
    a comment
</p>
