<header class="container">
    <div class="navbar navbar-guest" role="navigation">
        <div class="navbar-header">
            <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#home">
                Resource
                <small class='btn btn-xs' app-version></small>
            </a>
        </div>
        <div id="menu" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#/home">
                        <span class="glyphicon glyphicon-home"></span>
                        home
                    </a>
                </li>
                <li>
                    <a href="http://resource.eie.wits.ac.za/repository">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                        repository
                    </a>
                </li>
                <li>
                    <a href="#/gallery">
                        <span class="glyphicon glyphicon-picture"></span>
                        class photos
                    </a>
                </li>
                <li>
                    <span class='label label-danger'>
                        <a href="#/bookings">
                            <span class="glyphicon glyphicon-calendar"></span>
                            bookings
                        </a>
                    </span>
                </li>
                <li>
                    <a href="#/about">
                        <span class="glyphicon glyphicon-info-sign"></span>
                        about
                    </a>
                </li>
            </ul>
        </div>
    </div>
</header>
