<div class='well span6 form-horizontal'>
  <form novalidate class="user-form">
    <div class='control-group'>
      <label class='control-label' for='user_first_name'>
        First Name:
      </label>
      <div class='controls'>
        <input id='user_first_name' type="text" ng-model="user.first_name" />
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for='user_last_name'>
        Last Name:
      </label>
      <div class='controls'>
        <input id='user_last_name' type="text" ng-model="user.last_name" />
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for='user_password'>
        Password:
      </label>
      <div class='controls'>
        <input id='user_password' type="password" ng-model="user.password" />
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for='user_password'>
        Username:
      </label>
      <div class='controls'>
        <input type="text" readonly='readonly' ng-model="user.username" />
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for='user_email'>
        email:
      </label>
      <div class='controls'>
        <input id='user_email' type="email" ng-model="user.email" />
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for='user_yos'>
        Year of Study:
      </label>
      <div class='controls'>
        <input id='user_yos' type="text" ng-model="user.yos" />
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for='user_hosts'>
        Hosts:
      </label>
      <div class='controls'>
        <input id='user_hosts' type="text" ng-model="user.hosts" />
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for='user_home_directory'>
        Home Directory:
      </label>po
      <div class='controls'>
        <input id='user_home_directory' type="text" ng-model="user.home_directory" />
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for='user_login_shell'>
        Login Shell:
      </label>
      <div class='controls'>
        <input id='user_login_shell' type="text" ng-model="user.login_shell" />
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for='user_uid_number'>
        UID number:
      </label>
      <div class='controls'>
        <input id='uid_number' type="text" ng-model="user.uid_number" />
      </div>
    </div>
    <div class='control-group'>
      <label class='control-label' for='user_gid_number'>
        GID number:
      </label>
      <div class='controls'>
        <input id='user_gid_number' type="text" ng-model="user.gid_number" />
      </div>
    </div>
    <button ng-click="switchToView('{{$index}}')" class='btn-success btn'>
      <i class='icon-ok icon-white'></i>
      save
    </button>
  </form>
</div>
