<div>
  <div>
    There are {{users.length}} users.
    <br/>
    <input type="search" ng-model="q" placeholder="filter users..." />

    <div ng-repeat="user in users | filter:q">
      <div>
        <div class="animate-switch" ng-show="selection == ($index + '-view')">
          <div ng-include=" 'partials/user_form.html' "></div>
        </div>
        <div class="animate-switch" ng-hide="selection == ($index + '-view')">
          <div ng-include=" 'partials/user_view.html' "></div>
        </div>
      </div>
    </div>
  </div>
</div>
