<div id="resource">
  <div class="hero-unit">
    <h1> Dlab Administration </h1>
  </div>
  <section>
    <a class="btn btn-warning" href="#/users">users</a>
    <a class="btn btn-warning" href="/admin/docs">docs</a>
    <a class="btn btn-warning" href="http://babbage.ug.eie.wits.ac.za:9191">PaperCut</a>
    <a class="btn btn-warning" href="http://dept.ee.wits.ac.za/mailman/admindb/firstyr">first year list</a>
    <a class="btn btn-warning" href="http://dept.ee.wits.ac.za/mailman/admindb/secondyr">second year list</a>
    <a class="btn btn-warning" href="http://dept.ee.wits.ac.za/mailman/admindb/thirdyr">third year list</a>
    <a class="btn btn-warning" href="http://dept.ee.wits.ac.za/mailman/admindb/fourthyr">fourth year list</a>
    <a class="btn btn-warning" href="http://146.141.119.15">printer 1</a>
    <a class="btn btn-warning" href="http://146.141.119.256">printer 2</a>
  </section>
</div>
