<h3>Users</h3>
<div class="col-md-3">
  <div ng-include="'partials/user_form.html'"></div>
  <button ng-click="saveUser()"
          class="btn-success btn">
    <span class="glyphicon glyphicon-plus"></span>
    add
  </button>
</div>

<div class="col-md-9">
  There are {{users.length}} users.
  <hr/>
  <div class="form-group">
    <input type="search"
           class="form-control"
           ng-model="q"
           placeholder="filter users..." />
  </div>
  <ul class="list-group">
    <li class="list-group-item" ng-repeat="user in users | filter:q">
      {{user.first_name}} {{ user.last_name }}
      <div class="btn-group pull-right">
        <button ng-click="viewUser(user.username)"
                class='btn btn-info btn-xs'>
          <span class="glyphicon glyphicon-eye-open"></span>
          view
        </button>
        <button ng-click="resetPasswordUser(user.username)"
                class='btn btn-warning btn-xs'>
          <span class="glyphicon glyphicon-registration-mark"></span>
          pw-reset
        </button>
        <button ng-click="deleteUser(user.username)"
                class='btn btn-danger btn-xs'>
          <span class="glyphicon glyphicon-remove"></span>
          delete
        </button>
      </div>
      <span class="clearfix"></span>
    </li>
  </ul>
</div>
