<div class="btn-group pull-right">
  <button ng-click="showEditForm()"
          class='btn btn-info btn-sm'>
    <i class='icon-pencil icon-white'></i>
    edit
  </button>
  <button ng-click="resetPassword()"
          class='btn btn-danger btn-sm'>
    <i class='icon-refresh icon-white'></i>
    reset password
  </button>
</div>
Username: {{ user.username }}
<br/>
email: {{ user.email }}
<br/>
Year of Study: {{ user.yos }}
<br/>
Hosts: {{ user.hosts}}
<br/>
Home Directory: {{ user.home_directory }}
<br/>
Login Shell: {{ user.login_shell }}
<br/>
UID number: {{ user.uid_number }}
<br/>
GID number: {{ user.gid_number }}
