<div id="resource">
  <div class="hero-unit">
    <section class="span8">
      <h1> Resource </h1>
      <p>
        Welcome to resource. A resource repository for Information and Electrical Engineering students
        at Wits.
        You need to sign in for a locker, DHCP and DNS and to make dlab bookings
      </p>
    </section>
    <section class="span3">
      <h2>Sign in</h2>
      <form action="/login" method="post">
        <div class="control-group" id="username">
          <div class="controls">
            <input type="text"
                   name="username_input"
                   placeholder="username"/>
            <input type="password"
                   name="password_input"
                   placeholder="password"/>
            <div class="control-group controls">
              <button class="btn btn-success" type="submit">
                Sign in
              </button>
            </div>
          </div>
        </div>
      </form>
    </section>
    <div class="clearfix"></div>
  </div>
</div>
