<!DOCTYPE html>
%html lang="en"
  %head
    %meta http-equiv="content-type" content="text/html; charset="utf-8"
    %meta name="language" content="en"
    %title
      Resource
    %link rel=icon type=image/png href="{{ url_for('static', filename='img/favicon.png') }}"
    %link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}"
    %link rel=stylesheet/less type=text/css href="{{ url_for('static', filename='css/style.less') }}"
    %script src="{{ url_for('static', filename='js/lib/less.min.js') }}" type="text/javascript"
  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %div.span1#logo href="#"
          %div.nav-collapse.collapse
            %ul.nav
              %li
                %a href="repository"
                  Repository
    %div#content
      %div.container
        %div.row-fluid
          -block body
          %script data-main="js/main" src="js/lib/require.js" type="text/javascript"
    %div#footer
      %div.inner
        %div.container
          %span#copyright
            (c) 2013 University Of The Witwatersrand, Johannesburg
          %div#credit
            %a href="http://flask.pocoo.org/"
              %img src="http://flask.pocoo.org/static/badges/made-with-flask-s.png" border="0" alt="made with Flask"
            by Mandla Mbuli
