-extends "base.haml"
-block body
  %div.hero-unit
    %h1
      Resource
    %p
      Welcome to resource. A resource repository for Information and Electrical Engineering students
      at Wits.
      You need to sign in for a locker, DHCP and DNS and to make dlab bookings
    %div
      %a.btn.btn-primary.btn-large href='repository/'
        Repository
