-extends "base.haml"
-macro text_field(label, id)
  %div.control-group id='{{ id }}'
    %div.controls
      %input.input name='{{ id }}_input' type='text' placeholder='{{ label }}'
      %span.help-inline

-block body
  %div#resource
  %div#templates
    %script#index-template type="text/x-mustache-template"
      %div.hero-unit
        %h1
          Resource
        %p
          Welcome to resource. A resource repository for Information and Electrical Engineering students
          at Wits.
          You need to sign in for a locker, DHCP and DNS and to make dlab bookings

    %script#menu-template type="text/x-mustache-template"
      %li
        %a href="#"
          home
      %li
        %a href="http://resource.eie.wits.ac.za/repository"
          repository
      %li
        %a href="http://resource.eie.wits.ac.za/repository/Class_photos"
          class photos
      %li
        %a href="#bookings"
          bookings
      %li
        %a href="#help"
          help
      %li
        %a href="#about"
          about
      %li
        %a href="#profile"
          profile

    %script#booking-template type="text/x-mustache-template"
      %span.well.span3.user
        %span
          %strong
           This is a single booking

    %script#bookings-index-template type="text/x-mustache-template"
      %h2
        Dlab Bookings
      %div#bookings-list.span7
        %h2
          Booking Procedure
        %ol
          %li
            Download the current bookings and dlab usage policy below
          %li
            Read through both documents
          %li
            email
            %a href="mailto:supervisor@eie.wits.ac.za?Subject=Dlab%20booking"
              supervisor@eie.wits.ac.za
            with the details of the booking
            Bookings will be confirmed by email.
          %li
            Confirm with the student lab administrators that:
            %ol
              %li
                you will have the full complement of systems which you book
              %li
                the number of systems you will need
              %li
                your required software is installed
          %li
            an assistant administrator will be on standby for the booking.
          %li
            Inform the PG demis that the wheelchair access door must be closed unless
            a demi is posted at the door – sounds unreasonable, but there are valid
            reasons for insisting that the door be either closed or access be controlled by a
            demi. Soneone may close the door if you leave the door open!
        %div
          %a.btn href="http://resource.eie.wits.ac.za/repository/NetworkAdmin/DLabBooking-SimpleFormat-2013-s2.pdf"
            Download
          PDF list of bookings
        %br
        %div
          %a.btn href="http://resource.eie.wits.ac.za/repository/NetworkAdmin/computer-lab-usage-policy.pdf"
            Download
          Dlab usage policy
      %div#bookings-form.pull-right
        %span style="color: red"
          Note, this form does not work yet
        %h2
          New booking

    %script#bookings-form-template type="text/x-mustache-template"
      {{ text_field("Contact person", "name") }}
      {{ text_field("Dates", "dates") }}
      {{ text_field("Number of PCs", "systems") }}
      {{ text_field("Software", "software") }}
      {{ text_field("Demis on the day", "demis") }}
      %textarea
        Comments
      %dl.control-group.controls
        %button.btn.btn-success.btn-large. type="submit"
          Book

    %script#bookings-template type="text/x-mustache-template"
      {{ text_field("Date", "date") }}
      {{ text_field("Date", "date") }}
      %dl.control-group.controls
        %button.btn.btn-success.btn-large. type="submit"
          Book

    %script#profile-template type="text/x-mustache-template"
      -raw
        %div#user-details.span4
          %h2
            {{ name }}
        %div#password-form.pull-right
          %h3
            change password

    %script#nav-profile-template type="text/x-mustache-template"
      -raw
        %a href="#{{ link_href }}"
          {{ link_name }}

    %script#login-template type="text/x-mustache-template"
      %div.offset5
        %h2
          Sign in
        %div.login_form

    %script#login-form-template type="text/x-mustache-template"
      {{ text_field("Username", "username") }}
      %div.control-group id='password'
        %div.controls
          %input.input name='password_input' type='password' placeholder='Password'
          %span.help-inline
      %dl.control-group.controls
        %button.btn.btn-success.btn-large. type="submit"
          Sign in

    %script#change-password-form-template type="text/x-mustache-template"
      %div.control-group id='username'
        %div.controls
          %input.input name='username_input' type='text' placeholder='Username' readonly
          %span.help-inline
      %div.control-group id='new_password'
        %div.controls
          %input.input name='new_password_input' type='password' placeholder='New password'
          %span.help-inline
      %div.control-group id='password2'
        %div.controls
          %input.input name='password_input2' type='password' placeholder='Re-enter password'
          %span.help-inline
      %dl.control-group.controls
        %button.btn.btn-danger.btn-large. type="submit"
          Change

    %script#users-index-template type="text/x-mustache-template"
      %div.form.span3#users_form
      %div.list.span9#users_list
        %h2
          There are:
          -raw
              {{ count }}
          users

    %script#user-template type="text/x-mustache-template"
      %span.well.span3.user
        %span
          %strong
            -raw
              {{ fullname }}  {{ points }}
        -raw
          %br
          Username: {{ username }}
        %div.control-group.controls
          %button.btn-view.btn.btn-warning
            view
          %button.btn-delete.btn.btn-danger
            delete

    %script#groups-group-template type="text/x-mustache-template"
      %div.well.span3.group
        %span
          %strong
            -raw
              {{ name }}  {{ points }}
        -raw
          %br
          Members {{ members }}
        %div.control-group.controls
          %button.btn.btn-danger
            delete

    %script#user-form-template type="text/x-mustache-template"
      {{ text_field("Name", "first_name") }}
      {{ text_field("Surname", "last_name") }}
      {{ text_field("Username", "username") }}
      {{ text_field("Gender", "gender") }}
      {{ text_field("Address", "address") }}
      {{ text_field("Email", "email") }}
      {{ text_field("School", "school") }}
      %dl.control-group.controls
        %button.btn.btn-success.btn-large. type="submit"
          Create

    %script#group-form-template type="text/x-mustache-template"
      {{ text_field("Name", "name") }}
      {{ text_field("Members", "members") }}
      %dl.control-group.controls
        %button.btn.btn-success.btn-large. type="submit"
          Create
