{% extends "base.html" %}
{% macro text_field(label, id) %}
  <div class="control-group" id='{{ id }}'>
    <div class="controls">
      <input class="input" name='{{ id }}_input' type='text' placeholder='{{ label }}'/>
      <span class="help-inline"></span>
    </div>
  </div>
{% endmacro %}
{% block body %}
  {% if error: %}
    <p class="alert-danger">
      <strong>ERROR: {{ error }}</strong>
    </p>
  {% endif %}
  <form action="{{ url_for('login') }}" method="post">
    {{ text_field("Username", "username") }}
    <div class="control-group" id='password'>
      <div class="controls">
        <input class="input" name='password_input' type='password' placeholder='Password'/>
        <span class="help-inline"></span>
      </div>
    </div>
    <div class="control-group controls">
      <button class="btn btn-success btn-large" type="submit">
        Sign in
      </button>
    </div>
  </form>
{% endblock %}
