-extends "main_layout.haml"
-block body
  %div.form-horizontal 
   %form method="POST" action="."
     %fieldset
      %legend
         You can book the Dlab using this form
      %div.control-group
        {{ form.name.label(class="control-label") }} 
        %div.controls << {{ form.name(size=20) }}
      %div.control-group
        {{ form.person_number.label(class="control-label") }} 
        %div.controls << {{ form.person_number(size=20) }}
      %div.control-group
        {{ form.role.label(class="control-label") }} 
        %div.controls << {{ form.role(size=20) }}
      %div.control-group
        {{ form.email.label(class="control-label") }} 
        %div.controls << {{ form.email(size=20) }}
      %div.control-group
        {{ form.forwhat.label(class="control-label") }} 
        %div.controls << {{ form.forwhat(size=20) }}
      %div.control-group
        {{ form.date.label(class="control-label") }} 
        %div.controls << {{ form.date(size=20) }}
      %div.control-group
        {{ form.end_time.label(class="control-label") }} 
        %div.controls << {{ form.end_time(size=20) }}
      %div.control-group
        {{ form.start_time.label(class="control-label") }} 
        %div.controls << {{ form.start_time(size=20) }}
      %div.control-group
        {{ form.pcs.label(class="control-label") }} 
        %div.controls << {{ form.pcs(size=20) }}
      %div.control-group
        {{ form.notes.label(class="control-label") }} 
        %div.controls << {{ form.notes(size=20) }}
      %div.control-group
        %div.controls 
          %input class='btn' type="submit" value="Book"
