-extends "main_layout.haml"
-block body
  %div.hero-unit
    %h1
      Resource
    %p
      Welcome to resource. A resource repository for Information and Electrical Engineering students
      at Wits

  %a.btn.btn-primary.btn-large href='repository/'
    Repository

