.navbar-fixed-top .navbar-inner {
    background-image: none;
    background-color: #1B228C;
}
.navbar ul a{
    margin-top: 20%;
    font-size: 2em;
}
.container-fluid {
    padding: 0px;
}
.navbar .container {
    width: 90%;
}
.navbar .brand {
    margin: 0px;
    padding: 0px;
    position: absolute;
}
.navbar .nav {
    margin-left: 190px;
}
.navbar .nav > li > a {
    color: #FFFFFF;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 1px 0 #777777;
}
.navbar .nav > li > a:hover {
    color: #EEEEEE;
    padding: 10px 15px 7px 15px;
    border-bottom: solid white;
}
