.navbar-fixed-top .navbar-inner {
    background-image: none;
    background-color: white;
}
.navbar ul a{
    margin-top: 20%;
    font-size: 2em;
}
.container-fluid {
    padding: 0px;
}
.navbar .container {
    width: 90%;
}
.navbar .brand {
    margin: 0px;
    padding: 0px;
    position: absolute;
}
.navbar .nav {
    margin-left: 190px;
}